@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
  background: #F3F3F3
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
}
.blocks {
  width: 50%;
}

#blocklyDiv {
  height: 700px;
  width: 100%;
  margin-top: 6rem;
}

.results {
  width: 50%;
  position: relative;
}

.bidiv{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.game {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 80%;
  height: 695px;
  /* border: 2px dashed #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f0f1;
  margin-top: 5rem;
  background: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.game .button {
  display: inline;
  font-size: 1.4rem;
  min-width: 100px;
  background-color: #000;
  border-radius: 10px;
  border: 0;
  padding: 10px 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.game .button:hover{
    color: #000;
}


.game .button.primary {
  background-color: #0091ff;
}

.game .button.secondary {
  background-color: #ff7300;
}

.game .button-container {
  padding: 16px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.button-container button{
  width: 40%;
  font-family: cursive;
}

.game .text-input {
  padding: 8px;
  min-height: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-align: center;
  height: 3rem;
  width: 70%;
  font-family: cursive;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.blocklySvg {
  background-color: #fff;
  outline: none;
  overflow: hidden;
  position: absolute;
  display: block;
  width: 100%;
  background: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.blocklyFlyout {
  position: absolute;
  z-index: 20;
  box-shadow: 5px 1px #888888;
}

@media(max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .blocks {
    width: 90%;
    height: 50%;
  }

  #blocklyDiv {
    margin-top: 0.5rem;
    height: 100%;
    margin-left: 2rem;
  }
  
  .blocklySvg {
    width: 100%;
    height: 100%;
    
  }

  .results{
    height: 50%;
    position: relative;
    width: 100%;
  }

  .game{
    left: 4rem;
    height: 80%;
    width: 80%;
    margin-top: 1rem;
  }
}


